.h1 {
  font-size: 5rem;
  font-weight: 600;
}

.h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

.h3 {
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .h1 {
    font-size: 3rem;
  }

  .h2 {
    font-size: 1.7rem;
  }

  .h3 {
    font-size: 1rem;
  }
}

/* fonts: https://transfonter.org/ */
